[Unit]
Description=gunicorn daemon
Wants=network-online.target
After=network-online.target

[Service]
Environment=SECRET_KEY=secret
User=joan
Group=www-data
WorkingDirectory=/home/joan/odroid
ExecStart=/usr/bin/gunicorn --workers 3 --bind unix:/home/joan/odroid/odroid.sock odroid.wsgi:application

[Install]
WantedBy=multi-user.target
