#We need gunicorn because django uses WSGI (a standar). So in order to have a server with django, we need something that can handle the WSGI and this is the purpouse of gunicorn.
[Unit]
#We want that the deamon works always when we have network. 
Description=gunicorn daemon
Wants=network-online.target
After=network-online.target

[Service]
Environment=SECRET_KEY=secret
User=odroid
Group=www-data
WorkingDirectory=/home/odroid/.django-monitor/odroid
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind unix:/home/odroid/.django-monitor/odroid/odroid.sock --bind unix:/home/odroid/.django-monitor/odroid/odroid_pub.sock odroid.wsgi:application

[Install]
WantedBy=multi-user.target
