{% extends 'core/base.html' %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Sobre nosaltres" %} {% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>{% trans "Sobre nosaltres" %}</h1>
<span class="subheading">{% trans "Equip" %}</span>
{% endblock %}

{% block content %}
<i>
    <h1>
        {% trans "Estudiants" %}
    </h1>
</i>
<p align="justify">
{% blocktrans %}Sóm un grup format per dos estudiants de la Universitat Rovira i Virgili, actualment cursant lúltim any de la carrera d'Enginyeria Informàtica. A continuació veureu informació sobre nosaltres, els estudiants.{% endblocktrans %}
</p>
{% for student in students %}
<br></br>
<div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="/static/{{student.image}}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">{{student.name}}</h2>
        <p align="justify">{% translate student.description %}</p>
    </div>
</div>
{%  endfor %}

<br></br>
<i><h1>{% trans "Professors" %}</h1></i>
{% blocktrans %}A continuació, podreu veure informació sobre els professors implicats en el nostre projecte, tot i què el nostre professor principal ha estat en Carles Aliagas ja que ens ha fet de tutor del treball de fi de carrera.{% endblocktrans %}
{% for teacher in teachers %}
<br></br>
<div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="/static/{{teacher.image}}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">{{teacher.name}}</h2>
        <p align="justify">{% translate teacher.description %}</p>
    </div>
</div>
{%  endfor %}
{% endblock %}
