{% extends 'core/base.html' %}

{% block title %}Descarrega{% endblock %}

{% block background %}{% load static %}{% static 'core/img/download-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>URV-Odroid</h1>
{% endblock %}
{% block content %}
<p align="justify">
En aquesta plana tens la oportunitat de descarregar els arxius d'automatització i la mateixa plana web de manera local per executar-la desde la placa odroid master per tal de fer la monitorització de manera local i per tant més segura.
</p>
<a href="https://github.com/JoanJaraBosch/TFG/archive/master.zip">Descarrega d'arxius</a>
{% endblock %}