{% extends 'core/base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "Descàrregues" %}{% endblock %}

{% block headers %}
<h1>URV-Odroid</h1>
{% endblock %}
{% block content %}
<h2>{% trans "Descripció" %}</h2>
<p align="justify">
{% blocktrans %}
En aquesta secció de la plana web, tens la opció per a descarregar el nostre projecte un altre cop en cas de no recordar l'enllaç o en cas de perdre algún arxiu 
necessari per el funcionament correcte de les plaques. Pots descarregar els arxius d'automatització fets pel David Ferrer i tens la oportunitat de descarregar 
la plana web local  que et permet monitoritzar i mantenir les plaques odroid. A més a més et donem l'enllaç de descàrrega del manual per si no vols seguir el manual de la plana web i el vols en pdf.
{% endblocktrans %}
</br></br>
</p>
<h2>{% trans "Automatització" %}</h2>
<p align="justify">
{% blocktrans %}
En aquest subapartat, trobaràs l'enllaç que et permetrà descarregar els arxius d'automatització per tal de crear el sistema de cues Slurm per a la comunicació de les plaques, el tallafocs per 
la seguretat, la assignació de ips per a totes les plaques i molt més. A continuació teniu l'enllaç de descàrrega.
{% endblocktrans %}
</br>
<a href="https://github.com/davidf2/odroid-cluster/archive/master.zip">{% trans "Descàrrega per la automatització" %}</a>
</br></br>
</p>
<h2>{% trans "Monitorització i manteniment" %}</h2>
<p align="justify">
{% blocktrans %}
En aquest subapartat, pots decarregar la plana web local per al manteniment i monitorització de les plaques odroid. Aquesta plana et permetrà veure els estats essencials de les plauqes com pot ser
la entropia, la calor, el usage de les cpus i altres. A més a més, proporciona un apartat de manteniment on disposaràs de 3 petites terminals on 1 serà per el input, i les altres pels 
outputs (stout i stderr) on podràs executar petites comandes. A continuació teniu l'enllaç de descàrrega.
{% endblocktrans %}
</br>
<a href="https://github.com/JoanJaraBosch/TFG/archive/master.zip">{% trans "Descàrrega pel manteniment i monitorització" %}</a>
</br></br>
</p>
<h2>{% trans "Manual" %}</h2>
<p align="justify">
{% blocktrans %}
En aquest últim subapartat, tindreu la oportunitat de descarregar el manual en pdf per tal de saber com executar el nostre projecte i per tal de saber com fer-lo servir. En cas de no voler 
descarregar el manual, no cal que patiu ja que en la barra de navegació de la plana local, hi ha l'apartat manual on podràs veure el manual sense tindre'l que baixar. A continuació teniu l'enllaç de 
descàrrega.
{% endblocktrans %}
</br>
<a href="https://drive.google.com/uc?export=download&id=1uE4jGrXDRF8DGDEpexx5h7Hm2OuDEtaA">{% trans "Descàrrega del manual" %}</a>
</br></br>
</p>
{% endblock %}
