{% extends 'core/base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "Portada" %}{% endblock %}

{% block headers %}
<h1>URV-Odroid</h1>
{% endblock %}
{% block content %}
<p align="justify">
	{% trans "Entra i descobreix el nostre projecte. Un projecte per a fer paral·lelització de manera fàcil i ràpida amb l'opció de monitoratge i manteniment LAN." %}
	{% trans "Si no saps de què es tracta la paral·lelització, no et preocupis perquè nosaltres t'ho expliquem. La paral·lelització tracta de repartir la feina entre una mateixa màquina" %}
	{% trans "i els seus cores o entre diverses màquines. El nostre projecte tracta la paral·lelització entre diverses màquines i de manera fàcil, ja que només necessitaràs plaques Odroid, un " %}
	{% trans "switch i el teu router. Pots saber d'ordinadors o no, ja que nosaltres estarem a la seva disposició i també li oferirem un manual per tal que la instal·lació sigui fàcil." %}
	{% trans "A més a més, nosaltres busquem i tenim l'objectiu que el nostre projecte ajudi a gent en l'àmbit de l'educació." %}
	</br>
	{% trans "A continuació disposa d'un enllaç per a visitar la pàgina de les plaques/ordinadors que utilitzem." %}
<a href="https://www.hardkernel.com/">{% trans "Plaques Odroid" %}</a>
</p>
{% endblock %}
