{% extends 'core/base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "Portada" %}{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>URV-Odroid</h1>
{% endblock %}
{% block content %}
<p align="justify">
	{% trans "Entra i descobreix el nostre projecte. Un projecte per a fer paral·lelització de manera fàcil i ràpida amb la opció de monitorització i manteniment LAN." %}
        {% trans "Si no saps de que es tracta la paral·lelització, no et preocupis perquè nosaltres t'ho expliquem. La paral·lelització tracta de repartir la feina entre una mateixa màquina" %}
	{% trans "i els seus cores o entre diverses màquines. El nostre projecte tratca la paral·lelització entre diverses màquines i de manera fàcil ja que només necessitaras plaques odroid, un " %}
	{% trans "switch i el teu router. Pots saber d'ordinadors o no, ja que nosaltres estarem a la seva disposició i també li oferirem un manual per tal de que la instal·lació sigui fàcil." %}
	{% trans "A més a més, nosaltres busquem i tenim l'objectiu de que el nostre projecte ajudi a gent en l'ambit de la educació." %}
</br>
	{% trans "A continuació disposa d'un enllaç per a visitar la pàgina de les plaques/ordinadors que utilitzem." %}
<a href="https://www.hardkernel.com/">{% trans "Plaques Odroid" %}</a>
</p>
{% endblock %}
