{% extends 'core/base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "Iniciar Sessió" %}{% endblock %}

{% block headers %}
<h1>URV-Odroid</h1>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1>{% trans "Iniciar Sessió" %}:</h1><form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label for="username">{% trans "Nom d'usuari:" %}</label>
          <input type="text" name="username" placeholder="Username"><label for="password">{% trans "Contrasenya:" %}</label>
          <input type="password" name="password" placeholder="Password"><input type="submit" name="" value="Login"></form></div>
  </div>
{% endblock %}
