{% extends 'core/base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "Monitorització" %}{% endblock %}

{% block background %}{% load static %}{% static 'core/img/monitor-bg.jpg' %}{% endblock %}
{% block headers %}
<script type="text/javascript">
var timer_id; 

function getting_ips(){
 var ips = {{ ips|safe }};
 var capa = document.getElementById("ips");
 var paso;
 console.log("s'executa la funcio");
 for (paso = 0; paso < ips.length-1; paso++) {
   console.log("entra al bucle");
   var option = document.createElement("option");
   var aux = ips[paso].split(",");
   option.value = aux[1];
   option.innerHTML = aux[1];
   capa.appendChild(option);
 };
};

function monitor_odroid(){
 var capa = document.getElementById("monitor");
 var p = document.createElement("p");
 var select = document.getElementById("ips").value;
 p.innerHTML = "Comencem a fer la connexió per monitorejar la placa ".concat(select);
 capa.appendChild(p);
 if(select==="master"){
    var ip_private = "{{ IP_PRIVATE }}";
    var ws = new WebSocket("ws://"+ip_private+":3000");
 }
 else{
    var ws = new WebSocket("ws://"+select+":3000");
 }
 start(ws);
};

function cpuGlobal(ws){
 console.log("Entro amb linterval");

 ws.send("cpu usage");


 const reader = new FileReader();

 reader.onload = function() {
    console.log(reader.result);
    var capa = document.getElementById("monitor");
    var p = document.createElement("p");
    p.innerHTML = reader.result+"% CPU";
    capa.appendChild(p);
  };

  ws.onmessage = function(e) {
    reader.readAsText(e.data);
  };

};

function start(ws){
  timer_id = setInterval(cpuGlobal, 3000, ws);
};

function stop(){
  if(timer_id){
     clearInterval(timer_id);
  }
};
window.onload = getting_ips;
</script>
<h1>URV-Odroid</h1>
{% endblock %}
{% block content %}
<form>
<select id ="ips" name="select">
<option value="master">master</option>
</select>
<input id="clickMe" type="button" value="Monitoritzar" onclick="monitor_odroid();"/>
</form>
<input id="stopMe" type="button" value="StopMonitoritzar" onclick="stop();"/>
<div id="monitor"></div>

{% endblock %}
