
{% extends 'core/base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "Monitorització" %}{% endblock %}

{% block background %}{% load static %}{% static 'core/img/monitor-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>URV-Odroid</h1>
{% endblock %}
{% block content %}
<script>
setInterval(function readTextFile()
{
  fetch('file://static/prova.txt')
  .then(response => response.text())
  .then(data => {
  	// Do something with your data
  	console.log(data);
  });
},10000);
</script>
{% endblock %}
