{% extends 'core/base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "Manteniment" %}{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}
<script type="text/javascript">
var ws;

function close_connection(){ 
  ws.close();
  document.getElementById("terminal").disabled = true;
  document.getElementById("clickMe").disabled = true;
  document.getElementById("clickMe2").style ="visibility:visible;";
  document.getElementById("clickMe3").style = "visibility:hidden;";
};

function getting_ips(){
 var ips = {{ ips|safe }};
 var capa = document.getElementById("ips");
 var paso;
 console.log("s'executa la funcio");
 for (paso = 0; paso < ips.length-1; paso++) {
   console.log("entra al bucle");
   var option = document.createElement("option");
   var aux = ips[paso].split(",");
   option.value = aux[1];
   option.innerHTML = aux[1];
   capa.appendChild(option);
 };
};

function start_manteniment(){
 message = "manteniment "+document.getElementById("terminal").value;
 console.log("Sending: "+message)
 ws.send(message);
};

function manteniment_odroid(){
 var select = document.getElementById("ips").value;
 var ip_private = "{{ IP_PRIVATE }}";
 const reader = new FileReader(); 
 ws = new WebSocket("wss://"+ip_private+":3000");
 console.log(ws);
 ws.onerror = function(evt) {
        alert("Hi ha un error amb el servidor node la placa master. Iniceu-lo o reinicieu-lo amb pm2 start/restart servidor.js");
 };

 ws.onopen = function() {
      console.log('connected');
      ws.send(select);
      document.getElementById("terminal").disabled = false;
      document.getElementById("clickMe").disabled = false;
      document.getElementById("clickMe2").style ="visibility:hidden;";
      document.getElementById("clickMe3").style = "visibility:visible;";
 };
 
 ws.onmessage = function(e) {
    console.log('resposta output: '+e.data);
    reader.result=e.data;
 };  
 
 reader.onload = function() {
   console.log(reader.result);
 };

};


window.onload = getting_ips;
</script>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>

<h1>URV-Odroid</h1>
{% endblock %}
{% block content %}
<p align="justify">
	{% trans "En aquesta secció, pots dedicar-te a mantenir els sistemes odroid sempre i quan no hi hagi problemes amb el ssh. En cas contrari hauras de conectar un hdmi a la placa master odroid cap a un monitor i desde alla arreglar-ho." %}
	{% trans "Per a usar la terminal primer has de conectar-te a traves del boto connect. A partir d'aqui, només podràs utilitzar comandes que no redirigeixin el output cap a fitxer. Es a dir, no podras fer un echo 'hola' > file." %}
</p>
<select id ="ips" name="select">
<option value="master">master</option>
</select>
<input id="clickMe2" type="button" value="Connect" onclick="manteniment_odroid();"/>
<input id="clickMe3" type="button" value="Close" onclick="close_connection();" style="visibility:hidden;"/>
<div  class="row">
<div  class="column">
	<p>INPUT TERMINAL: </p> 
	<textarea placeholder=">" id="terminal" class="main-description-text" style="height: 500px; width:100%;" disabled=true></textarea>
</div>
<div  class="column">	
	<p>OUTPUT TERMINAL: </p>
	<textarea placeholder=">" id="terminal2" class="main-description-text" style="height: 500px; width:100%;" disabled=true></textarea>
</div>
<div  class="column">
	<p>OUTPUT ERROR TERMINAL: </p>
	<textarea placeholder=">" id="terminal3" class="main-description-text" style="height: 500px; width:100%;" disabled=true></textarea>
</div>
</div>
<input id="clickMe" type="button" value="Send Command" disabled=true onclick="start_manteniment();"/>
{% endblock %}

